[user]
	name = Oliver Hofkens
	email = oliver@gorilla.co

[core]
	editor = hx
	ignorecase = false
	excludesfile = ~/.gitignore_global

[pull]
    rebase = true
[merge]
	tool = kdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
