format = "$all$line_break$character"

[aws]
format = '[$symbol($profile )(\($region\) )(\[$duration\] )]($style)'

[aws.region_aliases]
eu-central-1 = 'euc-1'
eu-west-1 = 'euw-1'
us-east-1 = 'use-1'

[docker_context]
disabled = true

[git_branch]
format = '[$symbol$branch(:$remote_branch)]($style) '

[nodejs]
disabled = true

[terraform]
format = '[$symbol$workspace]($style) '

[package]
format = "[$symbol$version]($style) "

[python]
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
version_format = "${major}.${minor}"

[rust]
format = '[$symbol($version )]($style)'
version_format = "${major}.${minor}"
