[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
neovim = "*"
flake8 = "*"
isort = "*"
black = "==21.8b0"
mypy = "*"
yamllint = "*"
jedi = "*"

[requires]
python_version = "3.7"
