/* Hide navbar when not in focus */
#nav-bar {
  position: relative;
  z-index: 1;
  height: 4px;
  margin-bottom: -4px;
  opacity: 0;
  overflow: hidden;
  min-height:4px !important;
}

#nav-bar:focus-within {
  height: auto;
  margin-bottom: 0px;
  opacity: 1;
  overflow: show;
}

/* Only show close buttons on tabs when hovering with the mouse */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

